@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anton&family=Baloo+Bhaijaan+2:wght@400..800&family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-EBGaramond: 'EB Garamond';
	--font-Anton: 'Anton';
	--font-Aboreto: 'Aboreto';
	--font-Fredoka: 'Fredoka';
	--font-Bebas: 'Bebas neue';
	--font-Poppins: 'Poppins';
}

@supports (animation-range: entry-crossing) {
	.fit-to-width {
		font-size: 13rem; /* 2 */
		overflow: hidden; /* 3 */

		scroll-snap-type: both mandatory; /* 4 */

		/* 5 */
		& > * {
			inline-size: max-content; /* 6 */
			line-height: 1; /* 7 */
			transform-origin: 0 0; /* 8 */

			animation: apply-text-ratio linear; /*  9 */
			animation-timeline: view(inline); /* 10 */
			animation-range: entry-crossing; /* 11 */

			display: block; /* 12 */
			scroll-snap-align: start; /*  4 */
			contain: layout; /* 13 */
		}
	}
}

/* 9 */
@keyframes apply-text-ratio {
	from {
		transform: scale(0); /* 14 */
		margin-block-end: -1lh; /* 15 */
	}
}

@theme {
	--animate-scalePulse: scalePulse 2.5s infinite ease-in-out;

	@keyframes scalePulse {
		0% {
			transform: scale(1.1);
			filter: brightness(1) saturate(1.4);
		}
		50% {
			transform: scale(1.2);
			filter: brightness(1.2) saturate(1.1);
		}
		100% {
			transform: scale(1.1);
			filter: brightness(1) saturate(1.4);
		}
	}
}
